[submodule "client/spot/upipe"]
	path = client/spot/upipe
	url = git@github.com:exorde-labs/upipe.git
[submodule "client/spot/transactioneer"]
	path = client/spot/transactioneer
	url = git@github.com:exorde-labs/transactioneer.git
[submodule "client/spot/scrap"]
	path = client/spot/scrap
	url = git@github.com:exorde-labs/scrap.git
[submodule "client/spot/container_scout"]
	path = client/spot/container_scout
	url = git@github.com:exorde-labs/container_scout.git
